body {
    margin: 0;
}
.name {
    margin-left: 10px;
}
.colors { 
    font-size: 0;
}
.pallets {
    color: white;
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 100px;
    font-size: 1rem;
}
#base {
    background-color: #4A0075;
}
#accent {
    background-color: #09002E;
}
#accent2 {
    background-color: #2D0047;
}
#header {
    background-color: #2c2c2c;
}
#highlight {
    background-color: #3b3b3b;
}
#background {
    background-color: #1b1b1b;
    width: 100%;
    height: 300px;
}