.one {
    background-color: #2D0047;
}

.two {
    background-color: #4A0075;
}

.three {
    background-color: #09002E;
}

.four {
    background-color: #262626;
}

.five {
    background-color: #2E2E2E;
}

.six {
    background-color: #373737;
}