.one {
    color: white;
    background-color: #2D0047;
    display: inline-block;
    width: 16%;
    height: 100px;
}

.two {
    color: white;
    background-color: #4A0075;
    display: inline-block;
    width: 16%;
    height: 100px;
}

.three {
    color: white;
    background-color: #09002E;
    display: inline-block;
    width: 16%;
    height: 100px;
}

.four {
    color: white;
    background-color: #1b1b1b;
    display: inline-block;
    width: 16%;
    height: 100px;
}

.five {
    color: white;
    background-color: #2c2c2c;
    display: inline-block;
    width: 16%;
    height: 100px;
}

.six {
    color: white;
    background-color: #3b3b3b;
    display: inline-block;
    width: 16%;
    height: 100px;
}