.accent2 {
    color: white;
    background-color: #2D0047;
    display: inline-block;
    width: 16%;
    height: 100px;
}

.base {
    color: white;
    background-color: #4A0075;
    display: inline-block;
    width: 16%;
    height: 100px;
}

.accent {
    color: white;
    background-color: #09002E;
    display: inline-block;
    width: 16%;
    height: 100px;
}

.background {
    color: white;
    background-color: #1b1b1b;
    display: inline-block;
    width: 16%;
    height: 100px;
}

.header {
    color: white;
    background-color: #2c2c2c;
    display: inline-block;
    width: 16%;
    height: 100px;
}

.highlight {
    color: white;
    background-color: #3b3b3b;
    display: inline-block;
    width: 16%;
    height: 100px;
}